#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
#navbar .logo img {
    height: 44px;
    padding: 0px 0px;
    margin: 0px 0px;
}
ul li a {
    font-size: larger;
    text-decoration: none;
    padding: 0px 9px;
    margin: 0px 0px;
    color: black;
    font-family: monospace;
}





#s-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 272px;
}



#s-2 .content-2 h1 {
    font-size: 25px;
    padding-right: 0px;
}
#s-2 .content-2 {
    padding: 83px 24px 20px 24px;
}
#s-2 .content-2 h3 {
    font-size: 11px;
    color: green;
}
#s-2 .content-2 p {
    font-size: 11px;
}

#s-3 .content-3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 24px;
    padding: 0px 6px;
}
#s-3 .pics img {
    height: 70px;
    /* padding: 0px 0px 0px 23px; */
    border-radius: 542px;
    margin: 35px 7px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}
#s-3 .pics-2 img {
    height: 70px;
    /* padding: 0px 0px 0px 23px; */
    border-radius: 542px;
    margin: 0px 7px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}



.ex h3 {
    margin: 63px 35px 0px 35px;
    padding: 0px 0px 53px 1px;
    /* position: absolute; */
    font-size: 16px;


}
.ex .p1 {
    margin: 0px 0px 38px 0px;
    padding: 0px 10px;
    font-size: 13px;
}
.ex .p2 {
    margin: 0px 0px 34px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 13px;
}
#s-4 .c-4 p {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 186px 10px 0px 10px;
    font-size: 13px;
}
#s-4 .img img {
    margin: 0px 0px 0px 0px;
    height: 165px;
    position: absolute;
    padding: 0px 0px 0px -17px;
    padding: 96px 0px 0px 71px;
}
#s-5 img {
    height: 181px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
    margin-bottom: 31px;
}
#s-5 h3 {
    padding: 0px 0px 0px 0px;
    margin: 59px 0px 38px 0px;
    font-size: 20px;
}
#s-5 p {
    padding: 7px 19px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
#s-6 .v-1 img {
    padding: 0px 5px 19px 5px;
    margin: 0px 0px 0px 0px;
    height: 71px;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.623);
}
#s-6 .p-1 {
    padding: 0px 38px;
    margin: 0px 0px 0px 0px;
}
#s-6 .p-2 {
    padding: 22px 30px;
    margin: 0px 0px 0px 0px;
}
#s-6 .p-3 {
    padding: 0px 44px;
}
#s-6 h1 {
    padding: 60px 0px 54px 0px;
    margin: 0px 0px 0px 0px;
    font-family: fantasy;
    font-size: 20px;
}

#s-7 h1 {
    padding: 59px 0px 29px 0px;
    margin: 0px 0px 0px 0px;
    font-family: fantasy;
    font-size: 20px;
}
#s-7 p {
    text-align: center;
    padding: 0px 29px;
    font-family: ui-sans-serif;
}
#s-8 h1 {
    padding: 0px 0px 0px 0px;
    font-family: fantasy;
    font-size: 20px;
    margin: 0px 0px 30px 0px;
}
   
#s-8 p {
    text-align: center;
    padding: 0px 33px;
}
#s-9 p {
    text-align: center;
    padding: 47px 21px;
}
#s-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#s-9 h1 {
    font-family: fantasy;
    font-size: 20px;
    padding: 0px;
}
#s-9 img {
    height: 149px;
    margin-bottom: 34px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}
#s-10 p {
    text-align: center;
    padding: 44px 34px;
}
#s-10 h1 {
    font-family: fantasy;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    margin-top: 34px;
}
#s-10 img {
    height: 260px;
    margin-bottom: 34px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}
#s-11 .i1 {
    height: 257px;
    padding: 0px 0px 0px 0px;
    margin: 78px 0px 31px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}
#s-11 .i2 {
    height: 232px;
    margin-bottom: 34px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}
#s-11 .p2 {
    padding: 0px 0px 0px 0px;
    margin: 6px 34px;
    text-align: center;
}
#s-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
#s-12 p {
    padding: 0px 0px 0px 0px;
    margin: 47px 21px;
    text-align: center;
}
#s-12 img {
    height: 168px;
    /* margin-left: 244px; */
    margin-top: 109px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
}
#s-13 h3{
    font-size: 16px;
}
#s-13 #same {
    padding: 0px 6px;
}
#s-13 h3 {
    font-size: 9px;
}
#s-13 ul li {
    padding: 17px 0px;
    font-size: 8px;
}
#s-13 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 7px;
}
footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 10px;
}